#app{
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    
}
*{
    box-sizing: border-box;
}

.Homediv{
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    display:flex;
    justify-content: center;
}


.todolistbox{
    
    height:100vh;
    width:50vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}
.h1box{
    display:flex;
    
    height:100vh;
    width:50vw;
    flex-direction: column;
    

}

h1{
    margin:0 auto;
    
}

input {
    width:60%;
    margin: 0 auto;
}
ol {
    margin-left: 20%;
    width:100%;
    padding: 0;


}

.deletebutton{
    padding: 4px 8px;
    margin: 1px 1px;
    margin-left: auto;
}

li{
    display:flex;
    justify-content: space-between;
    width:60%;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
