#app{
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    
}
*{
    box-sizing: border-box;
}

.Homediv{
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    display:flex;
    justify-content: center;
}


.todolistbox{
    
    height:100vh;
    width:50vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}
.h1box{
    display:flex;
    
    height:100vh;
    width:50vw;
    flex-direction: column;
    

}

h1{
    margin:0 auto;
    
}

input {
    width:60%;
    margin: 0 auto;
}
ol {
    margin-left: 24%;
    width:100%;
    padding: 0;


}



.thetask{
    display:flex;
    justify-content: space-between;
    width:55%;
}

.fa-trash{
    opacity: 0;
}
.thetask:hover .fa-trash{
    opacity: 1;
    
}
.thetask:hover .fa-trash:hover{
    opacity: 1;
    color:red;
    transition: ease 0.3s;
    transform: scale(1.2);
    
  
     
    
    
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
